main{
    margin: auto;

}

.imagenEnCarrito{
    width: 100px;
    height: 100px;
    margin: 30px;
}

.botonBorrarUno {
    width: 10%;
    height: 100%;
    padding: 5px;
    margin-top: 20px;
    font-weight: 700;
    color: rgb(19, 7, 7);
    background-color: rgb(230, 148, 172);
    border-radius: 10px;
    border: solid 3px black;
}

.botonEliminarTodo{
    width: 20%;
    height: 250%;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-weight: 700;
    color: white;
    background-color: rgb(238, 18, 84);
    border-radius: 10px;
    border: solid 3px black;
}

h2{
    font-size: medium;
    margin: 15px;
}

h3{
    font-size: medium;
}

.irAlHomeBoton{
    text-align: center;
    display: flex;
    margin: 100px;
    margin-left: 550px;
    position: relative;
    width: 20%;
    height: 250%;
    padding: 10px;
    font-weight: 700;
    color: white;
    background-color: rgb(238, 18, 84);
    border-radius: 10px;
    border: solid 3px black;
}

.botonDePago{
    width: 20%;
    height: 250%;
    padding: 10px;
    margin: 100px;
    margin-bottom: 100px;
    font-weight: 700;
    color: black;
    background-color: rgb(54, 252, 27);
    border-radius: 10px;
    border: solid 3px black;
}