.terminado{
    margin-bottom: 300px;
    margin-left: 250px;
    margin-right: 200px;
}

.despedida {
    font-size:30px;
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;

}
.procesoEnviando{
    font-size: 30px;
    text-align: center;
}
.botonParaIrHome{
    width: 50%;
    height: 100%;
    padding: 15px;
    margin-top: 30px;
    margin-left: 300px;
    font-weight: 700;
    color: rgb(19, 7, 7);
    background-color: rgb(230, 148, 172);
    border-radius: 10px;
    border: solid 3px black;
}

.form{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid rgb(87, 7, 7);
    border-radius: 2em;
}

.imput{
    margin: 10px;
    border-radius: 10px;
    border: solid 2px black;
}

.enviarBoton{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(230, 148, 172);
    border-radius: 10px;
    border: solid 2px black;
}

.correo{
    font-size: 20px;
    
}