.imagenItem{  
    width: 20%;
    height: 30%;

}

.descripcion{
   font-size: 15px;
   padding:0 28%;
   margin-bottom: 20px;
}

.irAlCarritoBoton{
    width: 50%;
    height: 100%;
    padding: 5px;
    margin-top: 20px;
    font-weight: 700;
    color: rgb(19, 7, 7);
    background-color: rgb(230, 148, 172);
    border-radius: 10px;
    border: solid 3px black;
}

h1{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 150%;
}