.div-menu{
    display: flex;
    justify-content: space-between;

    
    
}

.div-menu ul{
    padding-left: 100px;
    display: flex;
    margin: 5px;
}

.categorias{
    padding-left: 10px;
}

.div-menu ul li{
    padding: 10px;
    list-style: none;
    
}

.tituloEmpresa{
    font-size: 50px;
    text-align: center;
    margin-left: 300px;
}

.icono{
    padding-right: 10px;
}

span {
    margin-right: 100px;
}
.logo-empresa{
    width: 10%;
    height: 10%;
    margin-left: 600px;
}

.a{
    margin:10px 10px
}

.active{
    color: red;
    margin:0px 20px
    
}

